<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>TechMarket-- perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body class="container mt-5">
  <div class="alert alert-info display-4 text-center">Perfil De Usaurio</div>

  <BR />
{% if user %}          
  <div class="container text-center text-bg-info p-3">
    <div class="row">
      <div class="col-6">
            <h5>Datos Usaurio</h5>
        <table class="table table-bordered table-primary">
          <tbody>
            <tr>
            <tr>
              <td style="text-align: start;">user name</td>
              <td style="text-align: end;">{{user.username}}</td>
            </tr>
            <td style="text-align: start;">Nombre:</td>
            <td style="text-align: end;">{{user.first_name}}</td>
            </tr>
            <tr>
              <td style="text-align: start;"></tdstyle>Apellido:</td>
              <td style="text-align: end;">{{user.last_name}}</td>
            </tr>
            <tr>
              <td style="text-align: start;">Email:</td>
              <td style="text-align: end;">{{user.email}}</td>
            </tr>
            {% endif %}
            {% if UserInfo %}
            <tr>
              {% for UserInfo in UserInfo %} 
              <td style="text-align: start;">Telefono</td>
              <td style="text-align: end;">{{ UserInfo.Telefono }}</td>
            </tr>
            <tr>
              <td style="text-align: start;">Fecha Nacimiento:</td>
              <td style="text-align: end;">{{ UserInfo.DateBirth }}</td>
            </tr>
            <tr>
              <td style="text-align: start;">Premium:</td>
              {% if UserInfo.EstadoPremium is None %}
              <td style="text-align: end;"> NORMAL </td>
              {% else %}
              <td style="text-align: end;"> Premium </td>
              {% endif%}
            </tr>
            <tr>
              <td style="text-align: start;">description:</td>
              <td style="text-align: end;">{{ UserInfo.DescripcionUser }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <div class="col-6">
          <h5>Foto Usuario</h5>
          {% if UserInfo.ProfileImage %}
          <img src="{{ UserInfo.ProfileImage.url }}" style="max-width: 300px; max-height: 200px;" alt="Foto de Usuario">
          {% else %}
          <img src="{% static 'media/Userprofile/profile_base.jpg' %}" style="max-width: 300px; max-height: 200px;" alt="Imagen de Perfil Base">
          {% endif %}
          {% endfor %}
          {% endif %}
      </div>
      <hr>
      
      <table class="table table-bordered table-primary">
        <thead>
          <tr>
            <th colspan="2" class="text-center">Competencias</th>
          </tr>
          <tr>
            <th>Areas</th>
            <th>Tecnologias</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ejemplo , ejemplo 1</td>
            <td>ejemplo 1, ejemplo 2</td>
          </tr>
          <tr>
            <td>ejemplo 2, ejemplo 1</td>
            <td>ejemplo 2, ejemplo 2</td>
          </tr>
          <tr>
            <td>ejemplo 3, ejemplo 1</td>
            <td>ejemplo 3, ejemplo 2</td>
          </tr>
        </tbody>
      </table>

      <hr>
      </div>
    
    </div>
    
  </div>
</div>



  <br>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <br>
    <div class="container text-center text-bg-info p-3">
      <div class="row">
        <div class="col-10">
          <h2>mis Publicaciones  </h2>
    
          {% if Publicaciones %}
            <ul class="list-group">
              {% for publicacion in Publicaciones %}
                <li class="list-group-item">
                  <h5>{{ publicacion.Titulo }}</h5>
                  <p>{{ publicacion.Descripcion }}</p>
                  <p><strong>Fecha de creación:</strong> {{ publicacion.FechaCreacion }}</p>
                  <!-- Puedes agregar más campos según lo necesites -->
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No tienes publicaciones aún.</p>
          {% endif %}
    
        </div>
      </div>
    </div>
    
    <div class="container text-center text-bg-info p-3">
      <div class="row">
        <div class="col-10">
          <h2>Mis Postulaciones  </h2>
    
          {% if Postulante %}
            <ul class="list-group">
              {% for postulaciones in Postulante %}
                <li class="list-group-item">
                  <h5>{{ postulaciones.publicacion}}</h5>
                  <p>{{ postulaciones.FechaPostulacion }}</p>
                   <!-- Puedes agregar más campos según lo necesites -->
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No tienes publicaciones aún.</p>
          {% endif %}
    
        </div>
      </div>
    </div>
    
  </body>


</html>